@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';
@source './node_modules/heroui-native/lib';

@theme {
  --color-primary: #050607;
  --color-text: #11181C;
  --color-background: #ffffff;
  --color-tint: #0a7ea4;
  --color-icon: #687076;
  --color-tab-icon-default: #687076;
  --color-tab-icon-selected: #0a7ea4;
  --color-border: #687076;
  --color-placeholder: #9BA1A6;
  --color-link: #0a7ea4;
  --color-error: #ff0000;
  --color-input-background: #FAF9F8;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 20px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-full: 9999px;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;

  --line-height-tight: 1.25;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;
}

.dark {
  --color-primary: #faf9f8;
  --color-text: #ECEDEE;
  --color-background: #050607;
  --color-tint: #ffffff;
  --color-icon: #9BA1A6;
  --color-tab-icon-default: #9BA1A6;
  --color-tab-icon-selected: #ffffff;
  --color-border: #9BA1A6;
  --color-placeholder: #687076;
  --color-link: #0a7ea4;
  --color-error: #ff0000;
  --color-input-background: #0A0B0C;
}
